.env

# Environments
.venv
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDE / OS files
.vscode/
.idea/
.DS_Store

# Output files
*.log


# images
f1.jpg
f2.jpg
p1.png
p2.png
p3.png
p4.png